In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

countries_df = pd.read_csv("C:\\Python main\\practise\\csv files\\3.Rev from countries.csv")
countries_df.head(10)

                country  country_count  total_payment
0              Thailand             92         401.08
1  Virgin Islands, U.S.             31         121.69
2         Faroe Islands             24          96.76
3            Bangladesh             81         353.19
4             Indonesia            331        1352.69
5                 Italy            174         753.26
6             Venezuela            157         632.43
7                  Oman             44         161.56
8              Cameroon             51         186.49
9        Czech Republic             28         132.72